POSTGRES_SERVER=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db
POSTGRES_PORT=5432

JWT_SECRET_KEY=your_jwt_secret_key
ALLOW_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
